<div class="contenedor componente">
    <div class="contenedor-comp">
    <h1 *ngIf="modMode==false">Crear nuevo restaurante</h1>
    <h1 *ngIf="modMode==true">Modificar restaurante</h1>
    <form #restauranteForm="ngForm" (ngSubmit)="onSubmit(restauranteForm)">
        <label class="label-text">Nombre del restaurante</label>
        <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre" [ngClass]="nombreControl.invalid && nombreControl.touched ? 'input-invalid': 'input-valid'" required maxlength="20" #nombreControl="ngModel">
        <span *ngIf="nombreControl.invalid && nombreControl.touched" class="errorValidation">
            <span *ngIf="nombreControl.errors?.['required']">Campo obligatorio</span>
            <span *ngIf="nombreControl.errors?.['maxlength']">Máximo de caracteres excedido (20)</span>
        </span>
        <br/>
        <label class="label-text">Días abierto</label>
        <div appMinChecked class="flex-container">
            <div class="col" *ngFor="let i of checkDaysObjects">
                <label class="label-text">{{i.day}}</label>
                <input type="checkbox" name="check{{i.day}}" [(ngModel)]="i.selected">
            </div>
        </div>
        <br/>
        <div class="flex-container">
            <div class="col">
                <label class="label-text">Tipo de comida</label>
                <select class="form-select" name="tipoComida" [(ngModel)]="tipoComida" [ngClass]="tipoComidaControl.invalid && tipoComidaControl.touched ? 'input-invalid': 'input-valid'" required #tipoComidaControl="ngModel">
                    <option value="" selected disabled hidden>Seleccione el tipo de comida</option>
                    <option *ngFor="let i of selectComida" [value]="i">{{i}}</option>
                </select>
                <span *ngIf="tipoComidaControl.invalid && tipoComidaControl.touched" class="errorValidation">
                    <span *ngIf="tipoComidaControl.errors?.['required']">Campo obligatorio</span>
                </span>
                <br/>
                <label class="label-text">Inauguración</label>
                <br/>
                <input type="date" max="{{today | date: 'yyyy-MM-dd'}}" name="inauguracion" [ngModel]="inauguracion | date:'yyyy-MM-dd'" (ngModelChange)="inauguracion = $event" [ngClass]="inauguracionControl.errors?.['required'] && inauguracionControl.touched || inauguracion > (today |  date: 'yyyy-MM-dd') ? 'input-invalid': 'input-valid'" required #inauguracionControl="ngModel">
                    <br/>
                    <span class="errorValidation" *ngIf="inauguracionControl.errors?.['required'] && inauguracionControl.touched">
                        Campo obligatorio
                    </span>
                    <span class="errorValidation" *ngIf="inauguracion > (today |  date: 'yyyy-MM-dd')">
                        <span>La fecha no puede ser posterior a hoy</span>
                    </span>

            </div>
            <div class="col">
                <label class="label-text">Descripción</label>
                <textarea name="description" [(ngModel)]="desc" [ngClass]="descripcionControl.invalid && descripcionControl.touched ? 'input-invalid': 'input-valid'" required maxlength="50" #descripcionControl="ngModel"></textarea>
                <span *ngIf="descripcionControl.invalid && descripcionControl.touched" class="errorValidation">
                    <span *ngIf="descripcionControl.errors?.['required']">Campo obligatorio</span>
                    <span *ngIf="descripcionControl.errors?.['maxlength']">Máximo de caracteres excedido (50)</span>
                </span>
            </div>
            <div class="col">
                <label class="label-text">Subir foto</label>
                <br/>
                <img *ngIf="foto!=''" class="imgUpload" [src]="foto">
                <input #inputFile (change)="catchFile($event)" type="file" id="myFile" name="filename" required>
            </div>

        </div>
        
        <app-star-rate [inputFunctional]=true [showRate]="valoracion" (newRateEvent)="addNewRate($event)"></app-star-rate>
        <div class="center">
            <span class="errorValidation center" *ngIf="valoracion==0">
                Campo obligatorio
            </span>
        </div>
        

        <div class="flex-container">
            <div class="col">
                <button type="reset" (click)="clearForm()">Limpiar</button>
            </div>
            <div class="col">
                <button *ngIf="modMode==false" type="submit">Crear</button>
                <button *ngIf="modMode==true" type="submit">Actualizar</button>
            </div>
        </div>
        
    </form>
    </div>
</div>